<form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm.value)">

  <mat-form-field appearance="outline" lass="full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" name="id" ngModel>
  </mat-form-field>


  <mat-form-field appearance="outline" lass="full-width">
    <mat-label>Categoria</mat-label>
    <input matInput placeholder="Categoria" name="name" ngModel>
  </mat-form-field>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Fechar</button>
    <button mat-raised-button color="primary">Salvar</button>
  </div>
</form>
